{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Recipes Capture!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <header class="container mt-4 mb-4">
        <h1>Capture Recipes From Any YouTube Video</h1>
    </header>
    <main class="container">
        <h2>
            How to use
        </h2>
        <p>
            Copy the URL from any Cooking video on YouTube and paste into the input field below. Capturing the recipe
            can take up
            to 30 seconds, so please be patient.
        </p>
        <p>
            For example you can use this video from Jamie Oliver: https://youtu.be/bcokNIfoc38
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        {{response | safe}}
    </main>
</body>

</html>